[submodule "android/qt-android-cmake"]
	path = android/qt-android-cmake
	url = https://github.com/LaurentGomila/qt-android-cmake.git
[submodule "QsLog"]
	path = QsLog
	url = https://github.com/victronenergy/QsLog.git
